{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-8">
        <h1 class="text-3xl font-bold">{{ product.name }}</h1>
        <div class="space-x-4">
            <a href="{% url 'products:product_update' product.id %}" class="bg-green-600 text-white px-6 py-3 rounded-lg hover:bg-green-700">
                Edit
            </a>
            <a href="{% url 'products:product_delete' product.id %}" class="bg-red-600 text-white px-6 py-3 rounded-lg hover:bg-red-700">
                Delete
            </a>

                <a href="{% url 'products:product_list' %}" class="bg-gray-600 text-white px-6 py-3 rounded-lg hover:bg-gray-700">
                    Back to Products
                </a>
        
        </div>
    </div>
    <div class="bg-white shadow rounded-lg p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <h2 class="text-sm font-medium text-gray-500">Price</h2>
                <p class="mt-1 text-gray-900">${{ product.price }}</p>
            </div>
            <div>
                <h2 class="text-sm font-medium text-gray-500">Stock</h2>
                <p class="mt-1 text-gray-900">{{ product.total_stock }}</p>
            </div>
            <div>
                <h2 class="text-sm font-medium text-gray-500">Description</h2>
                <p class="mt-1 text-gray-900">{{ product.description }}</p>
            </div>
            <div>
                <h2 class="text-sm font-medium text-gray-500">Category</h2>
                <p class="mt-1 text-gray-900">{{ product.category.name }}</p>
            </div>
        </div>
    </div>


</div>
{% endblock %}
